@font-face {
  font-family: "Inter";
  src: url("./fonts/static/Inter-Regular.ttf") format("truetype");
}

main {
  display: flex;
}

.active-link {
  color: #181938;
  font-weight: 500;
  text-decoration: underline;
}

.styled-link {
  text-decoration: none;
  position: relative;
  display: block;
  padding: 8px 0;
  transition: color 0.1s, background-color 0.1s;
}
.styled-link:hover {
  color: #181938;
}

.styled-link::before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  height: 2px;
  width: 100%;
  background-color: #181938;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  transition: color 0.1s, -webkit-transform 0.2s ease-out;
  transition: color 0.1s, transform 0.2s ease-out;
  transition: color 0.1s, transform 0.2s ease-out,
    -webkit-transform 0.2s ease-out;
}

.styled-link:hover::before {
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.border-highlight {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #181938;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn-highlight:hover .border-highlight {
  stroke-dashoffset: -480;
}

.home-img-link {
  max-width: 410px;
  /*min-width: 320px;*/
  /*margin: 0 auto;*/
}

.doc-img-link {
  max-width: 410px;
  /*min-width: 320px;*/
  /*margin: 0 auto;*/
}

.doc-location {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-icon {
  position: absolute;
  right: 5%;
  top: 46%;
}

.formik-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.input-fields {
  width: 100%;
  height: 39px;
  padding: 10px;
  font-size: 18px;
  border: 2px solid lightgray;
  border-radius: 5px;
  outline: none;
}

.input-errors {
  width: 100%;
  height: 39px;
  padding: 10px;
  font-size: 18px;
  border: 2px solid red;
  outline: none;
  border-radius: 5px;
}

.input-fields:active,
.input-fields:focus,
.input-fields:focus-visible {
  outline: none;
  border: 2px solid #d9af0e;
}

.input-errors:active,
.input-errors:focus,
.input-errors:focus-visible {
  outline: none;
  border: 2px solid #d9af0e;
}

.error-message {
  position: absolute;
  left: 0;
  top: 100%;
  font-size: 14px;
  font-weight: normal;
  color: red;
}

@media (max-width: 1087px) {
  .doc-img-link {
    max-width: 410px;
    min-width: 320px;
    margin: 0 auto;
  }
}

@media (max-width: 360px) {
  .doc-img-link {
    max-width: 410px;
    min-width: 300px;
    margin: 0 auto;
  }
  .error-message {
    font-size: 12px;
  }
}
